@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: #f5f5f5 0px 0px 10px;
    margin-bottom: 1%;
    margin-top: 0%;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.filled-box {
    border: 2px solid #f5f5f5;
}

.letter-row {
    display: flex;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    border-radius: 15px;
    font-size: 2rem;
    min-width: 60px;
    min-height: 70px;
    font-weight: 100;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    border: 0px;
}

.keyboard-button:hover {
    background-color: #727171;
}

.green {
    background-color: #47d147;
}

.yellow {
    background-color: #ffd11a;
}

.background {
    background-color: #121212;
}

.text {
    color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

